.social-count {
  display: inline;
  position: relative;
}


.social-count:after {
  background: #efefef;
  border: 1px solid #ccc;
  border-radius: 1px;
  top: -36px;
  color: #444;
  content: attr(data-count);
  display: block;
  left: 0px;

  width: 42px;
  padding: 5px;
  text-align: center;
  position: absolute;
  text-shadow: 0 1px 0 #000;
  white-space: nowrap;
  z-index: 98;
}

.social-count:before {
  border: solid;
  border: 1px solid #ccc;
  border-color: #111 transparent;
  border-color: #ccc transparent;
  border-width: .4em .4em 0 .4em;
  top: -5px;
  content: "";
  display: block;
  left: 22px;
  position: absolute;
  z-index: 99;
}
.social-container {
  width: 300px;
  padding: 100px;
  margin: auto;
}
.social-container a {
  float: left;
  margin:4px;
  width:54px;
  margin:4px;
  height:54px;
}
.social-container  div {
  float: left;
  width:54px;
  height:54px;
  background-color:black;
  background-image:url('social-icons.png');
}
#sfb {
    background-position:70% 0 ;
    border-bottom:0px solid #FFFFFF;
    transition:0.2s ease-out all;
    opacity:0.8;
}

#sfb:hover {
    background-position:70% 0%;
    border-bottom:2px solid #343437;
    transition:0.15s ease-in all;
    opacity:1;
}
#stwit{
  background-position:50% 0 ;
  border-bottom:0px solid #FFFFFF;
  transition:0.2s ease-out all;
  opacity:0.8;
}
#stwit:hover {
  background-position:50% 0%;
  border-bottom:2px solid #343437;
  transition:0.15s ease-in all;
  opacity:1;
}
#sgplus{        
  background-position:20% 0 ;
  border-bottom:0px solid #FFFFFF;
  transition:0.2s ease-out all;
  opacity:0.8;
    
}
#sgplus:hover{
  background-position:20% 0 ;
  border-bottom:2px solid #343437;
  transition:0.15s ease-in all;
  opacity:1;
}
